*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Raleway', sans-serif;
    /* overflow: hidden; */
}

.margin-bottom{
    margin-bottom: 2em;
}

.text-center{
    text-align: center
}

section{
    padding: 2em 0;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}

.grid-services{
    display: grid;
    grid-template-columns: 40% auto;
    grid-column-gap: 10px;
}

.item{
    margin: 1em auto;
    text-align: center;
}

.--item-img{
    width: 80px;
}

.--item-service img{
    width: 600px;
}

/* h1-h2 */
article{
    font-size: 15.4px;
    line-height: 20px;
}

h3{
    text-transform: uppercase;
    margin-bottom: 1.2em;
}

h4{
    /* text-transform: uppercase; */
    margin-bottom: 0.5em;
}

.point{
    font-size: 20px;
    line-height: 28px;
    margin: 1em 0;
    color: yellow;
}

p{
    /* font-size: 20px; */
    line-height: 24px;
}

.black-background{
    background: #262626;
    color: #ffffff;
}

.img-background{
    background: url('../img/vacuum-cleaner.jpg');
}

label{
 display: block;
 margin: 1em 0; 
}

input{
 border: none;
 padding: 1em;
}

footer{
    padding: 2em 0;
    background: black;
    color: #ffffff;
}


